certifi==2021.10.8
click==8.1.2
colorama==0.4.4
cycler==0.11.0
dnspython==2.2.1
et-xmlfile==1.1.0
Flask==2.1.1
Flask-SQLAlchemy==2.5.1
fonttools==4.33.3
greenlet==1.1.2
itsdangerous==2.1.2
Jinja2==3.1.1
jsonify==0.5
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.2
mysql-connector-python==8.0.29
numpy==1.22.3
openpyxl==3.0.9
packaging==21.3
pandas==1.4.2
pathlib==1.0.1
Pillow==9.1.1
protobuf==3.20.1
pymongo==4.1.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
SQLAlchemy==1.4.36
Werkzeug==2.1.1
